#online1 { position: absolute; left: 14%; pointer-events: none; font-size: 30px; }
#online { position: absolute; left: 2%; pointer-events: none; font-size: 30px; }

html {
  scroll-behavior: smooth;
}
body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#jarakDetail {
     padding-top: 80px;
}

#bgload {
    width: 100%;
    height: 100%;
    background-color: #121820;
    z-index: -1;
}

.eps:hover,
.eps:focus,
.epsd:hover,
.epsd:focus
 {
  background-color: green;  
  color: #EEEEEE;
  outline: none;
}

.below {   position: absolute; bottom: 0%; } 

.textBawah .logo {    
           position: relative;
           display: flex;
           justify-content: center;
           margin: 0px;
           width: 400px;
           height: 500px;           
}

#btn-unduh {    
           z-index: 999999;
           position: relative;
           border: none;
           display: flex;
           justify-content: center;
           width: 200px;
           height: 50px;       	    	                                               	   	   
      	   -moz-border-radius: 3px;
	   -webkit-border-radius: 3px;
	   border-radius: 3px;
           background-color: rgba(51, 51, 51, 0.5);         
}

#btn-unduh:hover,
#btn-unduh:focus {
  background-color: #004d00;  
  color: #EEEEEE;
  outline: none;
}



.scroll-film::-webkit-scrollbar {
	display: none;
}

.scroll-film {
	overflow: auto;
	scroll-behavior: smooth;        
        cursor: pointer;
        margin-top: 0px;     
           height: 100%;
           
}


.scroll-film>ul {
	display: flex;
        justify-content: space-arround;
        height: 100%;
}

.scroll-film>ul>li {
        margin-top: 10px;
        margin-bottom: 20px;
	display: inline-block;       
        margin-right: 20px;       
        text-align: justify;
        height: 100%;
        border-radius: 5pt;
}

.scroll-film>ul>li>img {
	flex: 0 0 100%;
	box-sizing: border-box;
	border: none;
	overflow: auto;
	margin-right: 5px;	
	   
}

.scroll-film>ul>li .thmb {
        width: 200px;
	height: 300px;
        background-color: #2C3E50;
        margin: auto;
 
        }

.scroll-film>ul>li .judul {
        width: 200px;
	height: 53px;
        background-color: #484848;        
        margin: auto;        
}

.scroll-film>ul>li .judul h2 {
        max-width: 180px;
        text-align: center;        
        margin: auto;
        font-size: 23px;
}

#selector {
        display: none;  
        z-index: 2;
        overflow: hidden;
        animation: fadeOut 2s forwards;
        position: relative;
        bottom: 0%;
}


.tvButton {
        left: 50%;
        bottom: 0%;
        transform: translate(-50%, -50%);
        position: absolute;
        display: flex;
        flex-direction: row;
        z-index: 3;            
        }

#jauh {
       margin-top: 150px;
       margin-left: 0px;
}

#jarak {
        margin-top: 2px;
}

#jaraktv {
        padding-top: 2px;
}

.scroll-area h2 {        
        margin-top: 0px;
        font-size: 20px; 
        text-align: center;
}

.scroll-area .square:focus,
.scroll-area .square:hover,
.scroll-area .square:active { 
        outline: 4px green solid;
        padding: 3px;
        background-color: #121820;
        border-radius: 5px;
}


.scroll-area .squareBig:hover,
.scroll-area .squareBig:focus,
.scroll-area .squareBig:active
 {	
                	
        transform: scale(1.2,1.1); z-index: 2200;
         -webkit-box-shadow: 0px 17px 17px 0px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px 17px 17px 0px rgba(0,0,0,0.41);
    box-shadow: 0px 17px 17px 0px rgba(0,0,0,0.41);
        
}



section {
        margin-left: 13.5em;
}


.case {
        z-index: 999999999999;       
        opacity: 1.0;
        padding-right: -50px;
}

h2 {
     color: #EEEEEE;
}

.textAtas {
    position: absolute;
    float: center;
    bottom: 10%;
    left: 0;
    right: 0;
}

.textBawah ul {
    list-style-type: none;
    z-index: 2;
}

ul {
    list-style-type: none;
    z-index: 2;
}

input,
textarea {
  width: 50%;
  height: 40px;
}

input[type=button] {width: 40px;}

body {
           color: #EEEEEE;
          
}

.scroll-area>ul>li #bgWhite {
            background-color: #EEEEEE;
}


#bgload #loader {
            border: 12px solid green;
            border-radius: 50%;
            border-top: 12px solid #121820;
            width: 70px;
            height: 70px;
            animation: spin 3s linear infinite;
            z-index: 2200;
            overflow: no;  
            scroll: no;
            position: fixed;            
           
        }
          
        @keyframes spin {
            100% {
                transform: rotate(360deg);
            }
        }
          
        .center {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }

#switch {
               
     
     
}

#column {
         display: flex;
        flex-direction: column;
}
   

.mdi {
        font-size: 40px;
}

.tvButton span:focus,
.tvButton span:hover {
        color: #EEEEEE
}


#textBottom {
        position: absolute;
        bottom: 150px;
}


.unmute,
.fullscreen,
.pause,
.epg {
        position: absolute
        overflow: hidden;
        width: 90px;
        height: 50px;
       	box-sizing: border-box;
	border: none;
        margin: 5px;
        background-color: #EEEEEE; 
        margin: -1px;
        
}


.box h2 {
        color: #EEEEEE
}

 @media screen and (orientation:portrait) { .bgImg {
  position: fixed;
  top: 0;
  right: 30%;
  left: 0;
  height: 200%; 
  width: 200%;
  overflow: hidden; 
  z-index: 3000; 
}

.eps {
        padding: 10px;
        position: relative;
        left: 35%;
        overflow: hidden;
        width: 200px;
        height: 50px;
       	box-sizing: border-box;
	border: none;
      	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
        background-color: rgba(51, 51, 51, 0.5);        
}


.bgVid {
  position: fixed;
  top: 0;
  right: 0; 
  left: 0;
  height: 50%; 
  width: 100%;  
  overflow: hidden; 
  z-index: 3000; 
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  margin-top: 0 !important;
  padding-right: 0;
  object-fit: fill;
}

.textBawah {
       position: absolute;
       top: 60%;
       z-index: -1;
       
}

 }

 @media screen and (orientation:landscape) { .bgImg {
  top: 0;  
  left: -39%;
  height: 100%; 
  width: 150%;
  position: fixed;
  pointer-events: none;
}

.eps { 

        width: 120px;
        height: 50px;
        margin-right: 10px;
        font-size: 30px;
        color: #EEEEEE;
        position: relative;        
        overflow: hidden;        
       	box-sizing: border-box;
	border: none;
      	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
        background-color: rgba(51, 51, 51, 0.5);        
}

.bgVid {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100%; 
  width: 100%;
  overflow: hidden;
  opacity: 1.0;
  z-index: 2600;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  margin-top: 0 !important;
  padding-right: 0;
  object-fit: fill;
}

.textBawah {
       position: fixed;
       top: 0%;
       left: 70%;
       z-index: 2200;
       background: #2a2a34;
       width: 30%;
       height: 100%;
       
}
 .tsxtBawah h2 {
       font-size: 15px;
}

 }



.right {
        position: absolute;
        top: 20px;
        right:25px;       
}

#logo {
          color: green;                
        font-size: 70px;
}

#topText {
	position: absolute;
	top: 20px;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.scroll-area::-webkit-scrollbar {
	display: none;
}


.scroll-area {
	overflow: auto;
	scroll-behavior: smooth;        
        cursor: pointer;
        
           
}


.scroll-area>ul {
	display: flex;
        justify-content: space-beetween;
        height: 100%;
               
}

.scroll-area>ul>li {
	display: inline-block;       
        margin-right: 5px;
        margin-top: 2px;
        text-align: justify;
        
}

.scroll-area>ul>li>img {
	flex: 0 0 100%;
	box-sizing: border-box;
	border: none;
	overflow: auto;
	margin: 5px;	
	   
}

.scroll-area>ul>li .square {
        width: 200px;
	height: 300px;
        background-color: #2C3E50;
        border-radius: 5px;
        z-index: 5;
}

.scroll-area>ul>li .squareBig {
        width: 200px;
	height: 100px;
        background-color: #2C3E50;                        
        border-radius: 4pt;    
        transition-delay: -5s;
}

.scroll-area h2{        
        
}

#wrap{
       flex-wrap: nowrap;
       flex-direction: column;
}

.iframeCenter {
       width:100%;
       height: 400px;      
       float: left;
       text-align:center;
       object-fit: cover;
       background-size: cover;
}

.iframeLayer, iframe {       
       width: 100%; 
       height: 100%;          
       margin: 0 auto;       
       object-fit: cover;
       background-size: cover;
}

.scroll-area::-webkit-scrollbar {
	display: none;
}




#remove {
	display: none;
}


#nonEffect {
	pointer-events: none;
}

#textGold {
	text-align: center;
}

#textGold:hover,
#textGold:focus {
	background-color: #daa520;
	color: #EEEEEE;
	width: 60px;
	height: 40px;
	border-radius: 3px;
	text-align: center;
}


#greenText {
	color: green;
}

.change:hover,
.change:focus {
	color: green;			     
}

.change {
        margin-right: 20px;        
}
.casing {
        margin-top: 10px;            
        display: flex;
        font-size: 10px;
        justify-content: flex-end;
}


.case {
	margin-right: 5px;
        
        margin-left: 0px;
        z-index: 2200;
        
        
}

.case h1 {
	color: #EEEEEE; 	
        margin-left: 70px;
        
}

p {
	margin: 0;
	padding: 0;
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

.box::-webkit-scrollbar {
	display: none;
}

#hide {
	overflow: auto;
}


body {
	background-color: #121820;
}

.box {
	display: flex;
	-ms-overflow-style: none;
	scrollbar-width: none;        
}

.uptext {
	justify-content: start;
	display: flex;
	-ms-overflow-style: hidden;
	scrollbar-width: none;
	margin-left: 80px;        
}

 .square,
 .squareBig {
	flex: 0 0 100%;
	box-sizing: border-box;
	border: none;
	overflow: auto;	     

}

.box .square {
	width: 200px;
	height: 220px;
}

.box .squareBig {
	width: 100px;
	height: 20px;
}

.square::-webkit-scrollbar,
.squareBig::-webkit-scrollbar {
	display: none;
}

.sidebar {
	position: fixed;
	overflow: hidden;
        z-index: 2300;
        top: 0%;        
        background-color: #014e5e;        
}

.sidebar nav {
	height: 100%;
	width: 15em;
        
}

.sidebar .sidebar__nav {
	display: flex;
	height: 100%;        
	list-style: none;
	margin: 0px auto;
        padding: 0px;
}

.sidebar .sidebar__nav .sidebar__nav__link {
	align-items: center;
	color: #F5F5F5;
	display: flex;	
	text-decoration: none;        
        float: center;
        top: 20%;

  }

.sidebar .sidebar__nav h1:hover {
	color: green;
}

.sidebar .sidebar__nav h1:focus {
	color: green;
}

.sidebar .sidebar__nav .sidebar__nav__text {
	display: none;
	margin-left: 10px;
	white-space: nowrap;
}

.sidebar .sidebar__nav h1 {
	align-items: left;
	display: flex;
	justify-content: start;
        margin-left: 15px;
        color: #F5F5F5 !important;        
}

@media (max-width: 572px) {
	.sidebar {
		bottom: 0;
		width: 100%;
	}
	.sidebar .sidebar__nav {
		justify-content: start;
	}
	.sidebar .sidebar__nav .sidebar__nav__link {
		height: 50%;
		padding: 0em;
	}
	.sidebar .sidebar__nav h1{
		font-size: 2rem;
	}
}

@media (min-width: 572px) {
	.sidebar {
		height: 100vh;
		left: 0;
		width: var(--sidebar-width);
	}
	.sidebar .sidebar__nav {
		flex-direction: column;
	}
	.sidebar .sidebar__nav li:last-child {
		margin-top: 0px;
	}
	.sidebar .sidebar__nav .sidebar__nav__link {
		padding: 1em;
	}
	.sidebar:hover .sidebar__nav .sidebar__nav__text {
		display: inline;
	}
	.sidebar .sidebar__nav h1 {
		font-size: 2.0rem;
	}
}

:root {
	--sidebar-width: 4, 5em;
}

body {
	margin: 0;
	padding: 0;	
}

* {
	outline: none;
	box-sizing: border-box;
}

.main {
	margin-left: 0px;
	padding: 2em 1.5em;
}


.main p {
	color: #444;
	font-size: 1.25em;
	line-height: 2;
	text-align: justify;
}

@media screen and (min-width: 0px) and (max-width: 480px) {
  .sidebar,
  .right,
  #nonEffect,
  #searchButton,
  #bottomText { display: none; }  /* hide it on small screens */
  .case h1,
  .case,
  .scrol-area,
  .scrol-nav,
  .scroll-area>ul>li,
  .scroll-area>ul>li>img,
   section { margin-left: 0px; }
  .uptext { margin-left: 10px; }
  .scroll-area>ul { padding: 3px; }
  .unmute,
  .fullscreen,
  .pause,
  .epg {
        
        width: 50px;
        height: 20px;                    
        z-index: 9999999;
}
  .sidebar { top: 0; }
}
