

<style>
    .bmpui-ui-watermark {
    display: none;
    }
    * {
  margin: 0;
  padding: 0;
}
  </style>
<div id="my-player"></div>
<div id="id" style="display: none;">977903fa79b64d8a877490bd60fe4949</div>
<script type="text/javascript" src="https://cdn.bitmovin.com/player/web/8.2.4/bitmovinplayer.js"></script>
<script src="//unpkg.com/xhook@latest/dist/xhook.min.js"></script>
<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>
<script>
    window.xhook.before((i,n)=>{
        i.url.includes("licensing.bitmovin.com") && (i.url = i.url.replace("licensing.bitmovin.com", "analytics-ingress-global.bitmovin.com")),
        n()
    }
    )
</script>

<script type="text/javascript">
const container = document.getElementById('my-player');
const id = document.getElementById('id').innerHTML;
const playerConfig = {
    key: 'b03269cd-793c-48c6-83b4-2f080b6737db',
    remotecontrol: {
          type: 'googlecast',
        },
    style: {
        width: '100%',
        aspectratio: '16:9',
        controls: true
    },
    skin: {
        screenLogoImage: ""
    },
    playback : {
        autoplay: true,
        muted: false,
        playsInline: true,
        preferredTech: [{
            player: 'html5',
            streaming: 'dash'
        }, {
            player: 'native',
            streaming: 'hls'
        }]
    }
};


const source = {
          dash: "https://livedommpd.lalalalalori.workers.dev/master.mpd?c=977903fa79b64d8a877490bd60fe4949",
         drm: {
            widevine: {
              LA_URL: 'https://livedomkey.lalalalalori.workers.dev/key',
              prepareMessage: function (keyMessage) {
                console.log(keyMessage);
                return JSON.stringify({
                  message: Array.apply(
                    null,
                    new Uint8Array(keyMessage.message)
                  ),
                });
              },
            },
          },
        };

const player = new bitmovin.player.Player(container, playerConfig);
player.load(source).then(
    player => {
        console.log('Successfully created Bitmovin Player instance')
    },
    reason => {
        console.log('Error while creating Bitmovin Player instance')
    }
);
</script>
